#helm repo add ingress-nginx https://kubernetes.github.io/ingress-nginx
#helm repo update
#helm install ingress-nginx ingress-nginx/ingress-nginx \
#  --namespace ingress-nginx \
#  --create-namespace


#Access with LoadBalancer:
#Frontend: http://ae42926bd682a47d68475a9e04425cc4-1120037993.us-east-1.elb.amazonaws.com
#Backend API: http://ae42926bd682a47d68475a9e04425cc4-1120037993.us-east-1.elb.amazonaws.com/api

apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: wanderlust-ingress
  namespace: wanderlust
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
    nginx.ingress.kubernetes.io/proxy-body-size: "10m"
spec:
  ingressClassName: nginx
  rules:
    - http:
        paths:
          # Frontend - React/Vue app
          - path: /
            pathType: Prefix
            backend:
              service:
                name: frontend
                port:
                  number: 5173
          # Backend API routes
          - path: /api
            pathType: Prefix
            backend:
              service:
                name: backend
                port:
                  number: 8080
          # Health check endpoint
          - path: /health
            pathType: Exact
            backend:
              service:
                name: backend
                port:
                  number: 8080
